perception_ws/build/
perception_ws/devel/
.idea/
.vscode/
perception_ws/.vscode/

*.bag
*.tmp

0517bag
perception_ws/sorry_sunwoo.bag
perception_ws/yolo_livox.md
perception_ws/yolo_livox.pdf
perception_ws/src/yolo26_seminar_ppt_prompt.md
2_compressed_fixed_frame.bag
